<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71368554478-sku0irb3r29l12snk7lfa7frv78ep0cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71368554478-sku0irb3r29l12snk7lfa7frv78ep0cp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>71368554478-p3cdsi27g14bg3unh58vklntmr5j1nn3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXgBNR0B-g-pvIdvUchsCHspYMCqJgm9s</string>
	<key>GCM_SENDER_ID</key>
	<string>71368554478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quandoapp</string>
	<key>PROJECT_ID</key>
	<string>quando-7baba</string>
	<key>STORAGE_BUCKET</key>
	<string>quando-7baba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71368554478:ios:6f96d0c8ad40c31de200ff</string>
</dict>
</plist>